body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
    background: #121212 url('https://images.everyeye.it/img-notizie/the-last-of-us-ambientata-serie-naughty-dog-ps4-ps5-v7-588056.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #d0d6b4;
    text-shadow: 0 0 2px #000;
}

header {
    background-color: rgba(30, 40, 20, 0.9);
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 2.5rem;
    color: #a3b245;
    text-shadow: 2px 2px 4px #000;
    margin: 0;
}

nav {
    display: flex;
    justify-content: center;
    background-color: rgba(40, 45, 25, 0.85);
}

nav a {
    color: #c7d279;
    text-decoration: none;
    padding: 10px 20px;
    font-weight: bold;
    transition: 0.3s;
}

nav a:hover {
    background-color: #758b26;
    color: #121212;
    box-shadow: 0 0 8px #a3b245;
}

main {
    max-width: 900px;
    margin: 30px auto;
    padding: 20px;
    background: rgba(20, 25, 15, 0.8);
    border-radius: 10px;
}

h2 {
    font-family: 'Press Start 2P', cursive;
    font-size: 1.8rem;
    color: #a3b245;
}

p {
    line-height: 1.7;
}

form {
    background-color: rgba(25, 30, 15, 0.85);
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin: 30px auto;
}

form label {
    display: block;
    margin: 10px 0 5px;
    color: #a3b245;
}

fieldset {
    border: 2px solid #758b26;
    padding: 15px;
    border-radius: 6px;
    margin-top: 20px;
}

fieldset label {
    margin-right: 15px;
    cursor: pointer;
}

button {
    background-color: #758b26;
    border: none;
    color: #121912;
    padding: 12px 25px;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
    display: block;
    margin-top: 20px;
}

button:hover {
    background-color: #a3b245;
    box-shadow: 0 0 10px #c9d568;
}

footer {
    background-color: rgba(30, 40, 20, 0.9);
    color: #8c9a40;
    text-align: center;
    padding: 20px 0;
}

.form-popup {
    display: none; 
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.form-container {
    background-color: rgba(25, 30, 15, 0.95);
    padding: 25px;
    border-radius: 12px;
    width: 100%;
    max-width: 420px;
    box-shadow: 0 0 25px rgba(163, 178, 69, 0.6);
}


.messaggio {
    background-color: rgba(30, 35, 25, 0.95);
    color: #f1f1f1; 
    padding: 40px;
    border-radius: 15px;
    display: inline-block;
    max-width: 600px;
    font-size: 1.3rem; 
    line-height: 1.6;
    text-align: center;
}


.messaggio button {
    margin-top: 25px;
    padding: 12px 30px;
    font-size: 1rem;
    background-color: #758b26;
    color: #121912;
}

.messaggio button:hover {
    background-color: #a3b245;
    box-shadow: 0 0 10px #c9d568;
}


